:root {
  color-scheme: light dark;
  --black: #000000;
  --black-russian: #1d1d1f;
  --revolver: #353538;
  --paynes-grey: #424245;
  --manatee: #86868b;
  --comet: #6e6e73;
  --quartz: #d2d2d7;
  --lavender: #e8e8ed;
  --ghost-white: #FBFBFD;
  --white: #FFFFFF;
  --dodger-blue: #157DFB;

  --primary: var(--dodger-blue);

  --background-dark: var(--black);
  --background-light: var(--ghost-white);
  --background: var(--background-light);
  --border-color: var(--border-light);
  --border-dark: var(--paynes-grey);
  --border-light: var(--quartz);

  --copy-alternate: var(--manatee);
  --copy-dark: var(--black-russian);
  --copy-light: var(--ghost-white);
  --copy: var(--copy-dark);

  --gridGap: 1vh;
  --ff-default: 'Sf Pro Display';
  --transition-duration: 400ms;
}

* {
  box-sizing: border-box;
  font-family: var(--ff-default), sans-serif;
  line-height: 1;
  margin: 0;
  padding: 0;
}

.light-mode {
  --background: var(--background-light);
  --border-color: var(--border-light);
  --border: 1px solid var(--border-color);
  --copy-alternate: var(--manatee);
  --copy: var(--copy-dark);
  --link-hover: var(--primary-dark);
  --primary-neutral: var(--black-russian);
  --secondary: var(--lavender);
}

.dark-mode {
  --background: var(--background-dark);
  --border-color: var(--border-dark);
  --border: 1px solid var(--border-color);
  --copy-alternate: var(--comet);
  --copy: var(--copy-light);
  --link-hover: var(--primary-light);
  --primary-neutral: var(--white);
  --secondary: var(--revolver);
}

body {
  background-color: var(--background);
  transition:
    background-color var(--transition-duration),
    color var(--transition-duration);
  font-size: 16px;
  height: 100vh;
  padding: 30px;
  width: 100vw;
  color: var(--copy);
  overflow-y: scroll;
}
